<% include ../partials/header %>

    
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h3><%=  campground.name%></h1>
                    <p><%= campground.description %></p>
                    <p><em>Created by <%= campground.author.username %></em></p>
                    <% if(user && campground.author.id.equals(user.id)) { %>
                        <a class="btn btn-info "data-toggle="modal" data-target="#campModal" 
                        id="campEdit">Edit</a>
                        <form class="form-delete"action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <%} %>
                </div>
            </div>
            <div class="well">
                <h3>Comments</h3>
                <div class="text-right">
                    <a class="btn btn-success"href="/campgrounds/<%= campground._id %>/comments/new">Add new comment!</a>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <% campground.comments.forEach(function(comment) { %>
                            <div>
                                <%= comment.author.username %> - <%= comment.text %>
                                    <% if(user && comment.author.id.equals(user.id)) { %>
                                        <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#commentModal"
                                        data-action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT">Edit</a>
                                        <form class="form-delete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-xs btn-danger">Delete</button>
                                        </form>
                                        <div class="container">
                                            <form method="post" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" class="form-horizontal" role="form" id="myForm" onsubmit="return ">
                                                <div class="modal fade" id="commentModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="btn-info modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4>Edit Comment</h4>
                                                            </div>
                                            
                                                            <div class="modal-body">
                                                                <form class="form-horizontal" role="form" action="" method="post">
                                                                    <div class="form-group">
                                                                        <label for="commentText" class="col-sm-2 control-label">Text: </label>
                                                                        <div class="col-sm-9">
                                                                            <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" id="commentText">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                            
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-info">Submit</button>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            </div>
                                            
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                                </div> <!-- /.modal -->
                                            </form>
                                        </div>
                                        
                                        
                                <%} %>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>    
        </div>
        
        <div class="col-md-3">

        </div>
    </div>
</div>    

<div class="container">
    <form method="post" action="/campgrounds/<%= campground._id %>?_method=PUT" class="form-horizontal" role="form" id="myForm" onsubmit="return ">
        <div class="modal fade" id="campModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="btn-info modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Edit Camp</h4>
                    </div>

                    <div class="modal-body">
                        <!--  modal body -->
                        <form class="form-horizontal" role="form" action="#" method="post">
                            <div class="form-group" id="form-div-1">
                                <label for="input1" class="col-sm-2 control-label">Name: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="camp[name]" id="input1" value="<%= campground.name %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input2" class="col-sm-2 control-label">Image URL: </label>
                                <div class="col-sm-9" id="form-div-2">
                                   <input class="form-control" type="text" name="camp[image]" id="input2" value="<%= campground.image %>"> 
                                </div>
                            </div>
                            <div class="form-group" id="form-div-3">
                                <label for="input3" class="col-sm-2 control-label">Description: </label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="camp[description]" id="input3" value="<%= campground.description %>">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <!--  modal footer -->
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>

                </div><!-- /.modal-content -->
            </div>
        </div> <!-- /.modal -->
    </form>
</div>


<% include ../partials/footer %>